body{
    header{
        margin: 60px auto 153px auto;
        max-width: 1140px;
        position: relative;
        .container{
            .header-logo{
                padding: 0;
            }
            .header-button-contact{
                width: 210px;
                height: 60px;
                background: #0052F2;
                border-radius: 10px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }
        .cloud{
            position: absolute;
            top: 84px;
            right: 579px;
        }
        @media (max-width: 1340px) {
            .cloud{
                position: absolute;
                left: 5vw;
                bottom: 0px;
            }
        }
    }
    article{
        margin: 0 auto;
        max-width: 1140px;
        .info-section{
            position: relative;
            .container{
                .headline-info-section{
                    max-width: 653px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 72px;
                    line-height: 80px;
                    color: #222222;
                }
                @media (max-width: 500px) {
                    .headline-info-section {
                        font-size: 60px;
                    }
                }
                .description-info-section{
                    margin-top: 20px;
                    max-width: 653px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 26px;
                }
                .links-info-section{
                    margin-top: 47px;
                    width: 100%;

                    a{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 26px;
                        display: flex;
                        align-items: center;
                        color: #0052F2;
                        &:first-child{
                            margin-bottom: 16px;
                        }
                        img{
                            margin-left: 14px;
                        }
                    }
                }
            }
            .settings{
                position: absolute;
                right: -100px;
                bottom: 10px;
                z-index: 5;
                object-fit: cover;
            }
            .background{
                width: 1000px;
                height: 1000px;
                position: absolute;
                top: -270px;
                right: -142px;
                z-index: -1;
                background-size: cover;
              }


            .barrel{
                position: absolute;
                top: -68px;
                right: -71px;
            }
            @media (max-width: 1439px) {
                .background{
                    top: 0;
                    right: 0;
                    opacity: 0.5;
                }
            }
            @media (max-width: 1340px) {
                .settings{
                    position: absolute;
                    right: 0px;
                    bottom: 10px;
                }
                .barrel{
                    right: 150px;
                }
            }
            @media (max-width: 970px) {
                .background{
                    display: none;
                }
                .settings{
                    z-index: -1;
                }
                .barrel{
                    z-index: -1;
                }
            }
            @media (max-width: 500px) {
                .settings{
                    display: none;
                }
                .barrel{
                    display: none;
                }
            }
        }
        .team-section{
            margin-top: 370px;
            .container{
                .headline-team-section{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 62px;
                    line-height: 62px;
                    color: #222222;
                    width: 100%;
                }
                @media (max-width: 500px) {
                    .headline-team-section {
                        font-size: 60px;
                    }
                }
                .about-us{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 40px;

                    .description-team-section{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 26px;
                        color: #444444;
                        max-width: 735px;
                    }
                    .link-pdf{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 26px;
                        color: #0052F2;
                        p{
                            margin-top: 13px;
                        }
                    }
                }
                .team-photo{
                    width: 100%;
                    align-items: center;
                    margin-top: 128px;
                }
            }
        }
    }
    footer{
        background: #F8F8F8;
        margin: 0 auto 0 auto;
        padding: 160px 0 173px 0;
        .container{
            padding: 0 8vw;
            .row{
                .contact-content{
                    margin-bottom: 40px;

                    &:last-child{
                        margin-bottom: 0;
                    }
                    .contact-name{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        color: #B7B7B7;
                        margin-bottom: 20px;
                    }
                    .contact {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        color: #222222;
                        display: flex;
                        align-items: center;
                        padding-bottom: 10px;
                        img{
                          margin-right: 10px;
                        }

                        &:last-child{
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
